body {
	background-color: #f2f2f2;
}

.container {
	max-width: 450px;
	margin: 10% 10% 10% 10%;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
form {
	align-content: center;
	max-height: 60%;
	margin-top: 20%;
	margin-bottom: 20%;
}
h1 {
	margin-top: 0;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="password"] #reset-button {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
}
.validations {
	margin-top: 20px;
}

/* .validations li {
	 margin-bottom: 200px;
} */

.default {
	color: #999;
}

.success {
	color: green;
}

.error {
	color: red;
}
